<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Microbium – <%= subTitle %></title>
    <script src="https://code.jquery.com/pep/<%= PEP_VERSION %>/pep.js"></script>
    <style>
      body {
        margin: 0;
        background: <%= backgroundColor %>;
      }
    </style>
  </head>
  <body>
    <script>
      window.microbiumAsyncInit = function () {
        var rawSceneData = '<%= rawSceneData %>'
        MicrobiumEmbed.mountViewer(rawSceneData)
      }
    </script>
    <script src="https://embed.microbiumapp.com/embed-<%= API_VERSION %>.js"></script>
  </body>
</html>
